*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top ,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(college/main.jpg);     
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
width: 1200px;
height: 75px;
margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:yellow;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: red;
}
.search{
    width: 330px;
    height: 50px;
    float: left;
    margin-left: 270px;
   
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-radius: 20px;
}
.btn{
    width: 100px;
    height: 40px;
    background: red;
    border: 2px solid red;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(255, 255, 255);
    position: relative;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}
.content h1{
    font-size: 50px;
    
    margin-bottom: 50px;
}
.content h1{
    color: white;
    text-shadow: 5px 5px 10px red;
}
.cn a{
    padding: 10px 20px;
    text-decoration: none;
    
}
.cn {
    padding: 10px 20px;
    border-radius: 20px;
    margin-left:30rem;
    
}
.cn:hover{
    background-color: rgb(208, 214, 214);
}
.img{
    height:50px;
}